/* 1. Aclonica */
@font-face {
  font-family: "Aclonica";
  src: url("./Aclonica/Aclonica-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 2. Antonio */
@font-face {
  font-family: "Antonio";
  src: url("./Antonio/Antonio-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Antonio";
  src: url("./Antonio/Antonio-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Antonio";
  src: url("./Antonio/Antonio-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Antonio";
  src: url("./Antonio/Antonio-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Antonio";
  src: url("./Antonio/Antonio-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 3. Maximum Impact */
@font-face {
  font-family: "Maximum Impact";
  src: url("./Maximum_Impact/Maximum Impact.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 4. Readex Pro */
@font-face {
  font-family: "Readex Pro";
  src: url("./Readex_Pro/ReadexPro-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Readex Pro";
  src: url("./Readex_Pro/ReadexPro-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Readex Pro";
  src: url("./Readex_Pro/ReadexPro-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Readex Pro";
  src: url("./Readex_Pro/ReadexPro-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Readex Pro";
  src: url("./Readex_Pro/ReadexPro-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 5. Red Rose */
@font-face {
  font-family: "Red Rose";
  src: url("./Red_Rose/RedRose-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Red Rose";
  src: url("./Red_Rose/RedRose-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Red Rose";
  src: url("./Red_Rose/RedRose-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Red Rose";
  src: url("./Red_Rose/RedRose-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Red Rose";
  src: url("./Red_Rose/RedRose-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 6. Russo One */
@font-face {
  font-family: "Russo One";
  src: url("./Russo_One/RussoOne-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
/* 7. Montserrat */
@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat/Montserrat-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 9. System-Ui */
/* System-ui is a keyword that maps to the system font, so no @font-face needed */

/* 10. Monospace */
/* Monospace is a generic font family, so no @font-face needed */

/* 11. Dancing Script */

@font-face {
  font-family: "Dancing Script";
  src: url("./Dancing_Script/DancingScript-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Dancing Script";
  src: url("./Dancing_Script/DancingScript-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Dancing Script";
  src: url("./Dancing_Script/DancingScript-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Dancing Script";
  src: url("./Dancing_Script/DancingScript-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 12. Noto Serif */
@font-face {
  font-family: "Noto Serif";
  src: url("./Noto_Serif/NotoSerif-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif";
  src: url("./Noto_Serif/NotoSerif-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif";
  src: url("./Noto_Serif/NotoSerif-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noto Serif";
  src: url("./Noto_Serif/NotoSerif-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif";
  src: url("./Noto_Serif/NotoSerif-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 13. Rubik */
@font-face {
  font-family: "Rubik";
  src: url("./Rubik/Rubik-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("./Rubik/Rubik-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("./Rubik/Rubik-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("./Rubik/Rubik-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 14. Ubuntu */
@font-face {
  font-family: "Ubuntu";
  src: url("./Ubuntu/Ubuntu-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("./Ubuntu/Ubuntu-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("./Ubuntu/Ubuntu-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("./Ubuntu/Ubuntu-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 15. Oswald */
@font-face {
  font-family: "Oswald";
  src: url("./Oswald/Oswald-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("./Oswald/Oswald-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("./Oswald/Oswald-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("./Oswald/Oswald-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("./Oswald/Oswald-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 16. Inter */
@font-face {
  font-family: "Inter";
  src: url("./Inter/Inter_18pt-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter/Inter_18pt-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter/Inter_18pt-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./Inter/Inter_18pt-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter/Inter_18pt-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 17. Lato */
@font-face {
  font-family: "Lato";
  src: url("./Lato/Lato-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./Lato/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./Lato/Lato-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 18. Open Sans */
@font-face {
  font-family: "Open Sans";
  src: url("./Open_Sans/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("./Open_Sans/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("./Open_Sans/OpenSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("./Open_Sans/OpenSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("./Open_Sans/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 19. Roboto */
@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 20. Raleway */
@font-face {
  font-family: "Raleway";
  src: url("./Raleway/Raleway-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./Raleway/Raleway-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./Raleway/Raleway-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("./Raleway/Raleway-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./Raleway/Raleway-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 21. Poppins */
@font-face {
  font-family: "Poppins";
  src: url("./Poppins/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 22. Barlow */
@font-face {
  font-family: "Barlow";
  src: url("./Barlow/Barlow-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Barlow";
  src: url("./Barlow/Barlow-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Barlow";
  src: url("./Barlow/Barlow-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Barlow";
  src: url("./Barlow/Barlow-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Barlow";
  src: url("./Barlow/Barlow-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 23.Work Sans */
@font-face {
  font-family: "Work Sans";
  src: url("./Work_Sans/WorkSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Work Sans";
  src: url("./Work_Sans/WorkSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Work Sans";
  src: url("./Work_Sans/WorkSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Work Sans";
  src: url("./Work_Sans/WorkSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Work Sans";
  src: url("./Work_Sans/WorkSans-Bold.ttf");
  font-weight: 700;
}

/* 24. Quicksand */

@font-face {
  font-family: "Quicksand";
  src: url("./Quicksand/Quicksand-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Quicksand";
  src: url("./Quicksand/Quicksand-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Quicksand";
  src: url("./Quicksand/Quicksand-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Quicksand";
  src: url("./Quicksand/Quicksand-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Quicksand";
  src: url("./Quicksand/Quicksand-Bold.ttf");
  font-weight: 700;
}

/* 25. Playwrite IN */

@font-face {
  font-family: "Playwrite IN";
  src: url("./Playwrite_IN/PlaywriteIN-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Playwrite IN";
  src: url("./Playwrite_IN/PlaywriteIN-Regular.ttf");
  font-weight: 400;
}

/* 26. Playfair Display */
@font-face {
  font-family: "Playfair Display";
  src: url("./Playfair_Display/PlayfairDisplay-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Playfair Display";
  src: url("./Playfair_Display/PlayfairDisplay-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Playfair Display";
  src: url("./Playfair_Display/PlayfairDisplay-Bold.ttf");
  font-weight: 700;
}

/* 27. Merriweather */

@font-face {
  font-family: "Merriweather";
  src: url("./Merriweather/Merriweather_24pt-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Merriweather";
  src: url("./Merriweather/Merriweather_24pt-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Merriweather";
  src: url("./Merriweather/Merriweather_24pt-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Merriweather";
  src: url("./Merriweather/Merriweather_24pt-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Merriweather";
  src: url("./Merriweather/Merriweather_24pt-Bold.ttf");
  font-weight: 700;
}

/* 28. Manrope */

@font-face {
  font-family: "Manrope";
  src: url("./Manrope/Manrope-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Manrope";
  src: url("./Manrope/Manrope-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Manrope";
  src: url("./Manrope/Manrope-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Manrope";
  src: url("./Manrope/Manrope-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Manrope";
  src: url("./Manrope/Manrope-Bold.ttf");
  font-weight: 700;
}

/* 29. Fira Sans */

@font-face {
  font-family: "Fira Sans";
  src: url("./Fira_Sans/FiraSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Fira Sans";
  src: url("./Fira_Sans/FiraSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Fira Sans";
  src: url("./Fira_Sans/FiraSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Fira Sans";
  src: url("./Fira_Sans/FiraSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Fira Sans";
  src: url("./Fira_Sans/FiraSans-Bold.ttf");
  font-weight: 700;
}

/* 30. Josefin Sans */

@font-face {
  font-family: "Josefin Sans";
  src: url("./Josefin_Sans/JosefinSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("./Josefin_Sans/JosefinSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("./Josefin_Sans/JosefinSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("./Josefin_Sans/JosefinSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("./Josefin_Sans/JosefinSans-Bold.ttf");
  font-weight: 700;
}

/* 31. Vollkorn */

@font-face {
  font-family: "Vollkorn";
  src: url("./Vollkorn/Vollkorn-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Vollkorn";
  src: url("./Vollkorn/Vollkorn-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Vollkorn";
  src: url("./Vollkorn/Vollkorn-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Vollkorn";
  src: url("./Vollkorn/Vollkorn-Bold.ttf");
  font-weight: 700;
}

/* 32. Impact */
@font-face {
  font-family: "Impact";
  src: url("./Impact/Impact.ttf");
  font-weight: 400;
}

/* 33. Helvetica */
@font-face {
  font-family: "Helvetica";
  src: url("./helvetica/helvetica-light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Helvetica";
  src: url("./helvetica/Helvetica.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica";
  src: url("./helvetica/Helvetica-Bold.ttf");
  font-weight: 700;
}

/* 34. Lemon Milk */
@font-face {
  font-family: "Lemon Milk";
  src: url("./lemon_milk/LEMONMILK-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Lemon Milk";
  src: url("./lemon_milk/LEMONMILK-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Lemon Milk";
  src: url("./lemon_milk/LEMONMILK-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Lemon Milk";
  src: url("./lemon_milk/LEMONMILK-Bold.otf");
  font-weight: 700;
}

/* 35. Mochica */
@font-face {
  font-family: "Mochica";
  src: url("./mochica/Mochica_PERSONAL_USE_ONLY.otf");
  font-weight: 400;
}

/* 36. Soul Billani */
@font-face {
  font-family: "Soul Billani";
  src: url("./soul_billani/SoulBillani.otf");
  font-weight: 400;
}

/* 37. Sriracha */
@font-face {
  font-family: "Sriracha";
  src: url("./Sriracha/Sriracha-Regular.ttf");
  font-weight: 400;
}

/* 38. Squada One */
@font-face {
  font-family: "Squada One";
  src: url("./Squada_One/SquadaOne-Regular.ttf");
  font-weight: 400;
}

/* 39. Rubik Wet Paint */
@font-face {
  font-family: "Rubik Wet Paint";
  src: url("./Rubik_Wet_Paint/RubikWetPaint-Regular.ttf");
  font-weight: 400;
}

/* 40. Risque */
@font-face {
  font-family: "Risque";
  src: url("./Risque/Risque-Regular.ttf");
  font-weight: 400;
}

/* 41. Questrial */
@font-face {
  font-family: "Questrial";
  src: url("./Questrial/Questrial-Regular.ttf");
  font-weight: 400;
}

/* 42. Quando */
@font-face {
  font-family: "Quando";
  src: url("./Quando/Quando-Regular.ttf");
  font-weight: 400;
}

/* 43. Proza Libre */
@font-face {
  font-family: "Proza Libre";
  src: url("./Proza_Libre/ProzaLibre-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Proza Libre";
  src: url("./Proza_Libre/ProzaLibre-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Proza Libre";
  src: url("./Proza_Libre/ProzaLibre-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Proza Libre";
  src: url("./Proza_Libre/ProzaLibre-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Proza Libre";
  src: url("./Proza_Libre/ProzaLibre-ExtraBold.ttf");
  font-weight: 800;
}

/* 44. Prosto One */
@font-face {
  font-family: "Prosto One";
  src: url("./Prosto_One/ProstoOne-Regular.ttf");
  font-weight: 400;
}

/* 45. Pridi */
@font-face {
  font-family: "Pridi";
  src: url("./Pridi/Pridi-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Pridi";
  src: url("./Pridi/Pridi-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Pridi";
  src: url("./Pridi/Pridi-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Pridi";
  src: url("./Pridi/Pridi-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Pridi";
  src: url("./Pridi/Pridi-Bold.ttf");
  font-weight: 700;
}

/* 46. Mochiy Pop One */
@font-face {
  font-family: "Mochiy Pop One";
  src: url("./Mochiy_Pop_One/MochiyPopOne-Regular.ttf");
  font-weight: 400;
}

/* 47. Merienda */
@font-face {
  font-family: "Merienda";
  src: url("./Merienda/Merienda-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Merienda";
  src: url("./Merienda/Merienda-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Merienda";
  src: url("./Merienda/Merienda-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Merienda";
  src: url("./Merienda/Merienda-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Merienda";
  src: url("./Merienda/Merienda-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Merienda";
  src: url("./Merienda/Merienda-Black.ttf");
  font-weight: 900;
}

/* 48. Konkhmer Sleokchher */
@font-face {
  font-family: "Konkhmer Sleokchher";
  src: url("./Konkhmer_Sleokchher/KonkhmerSleokchher-Regular.ttf");
  font-weight: 400;
}

/* 49. Fredoka */
@font-face {
  font-family: "Fredoka";
  src: url("./Fredoka/Fredoka-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Fredoka";
  src: url("./Fredoka/Fredoka-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Fredoka";
  src: url("./Fredoka/Fredoka-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Fredoka";
  src: url("./Fredoka/Fredoka-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Fredoka";
  src: url("./Fredoka/Fredoka-Bold.ttf");
  font-weight: 700;
}

/* 50. Eagle Lake */
@font-face {
  font-family: "Eagle Lake";
  src: url("./Eagle_Lake/EagleLake-Regular.ttf");
  font-weight: 400;
}

/* 51. Days One */
@font-face {
  font-family: "Days One";
  src: url("./Days_One/DaysOne-Regular.ttf");
  font-weight: 400;
}

/* 52. Croissant One */
@font-face {
  font-family: "Croissant One";
  src: url("./Croissant_One/CroissantOne-Regular.ttf");
  font-weight: 400;
}

/* 53. Cherry Cream Soda */
@font-face {
  font-family: "Cherry Cream Soda";
  src: url("./Cherry_Cream_Soda/CherryCreamSoda-Regular.ttf");
  font-weight: 400;
}

/* 54. Chakra Petch */
@font-face {
  font-family: "Chakra Petch";
  src: url("./Chakra_Petch/ChakraPetch-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("./Chakra_Petch/ChakraPetch-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("./Chakra_Petch/ChakraPetch-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("./Chakra_Petch/ChakraPetch-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("./Chakra_Petch/ChakraPetch-Bold.ttf");
  font-weight: 700;
}

/* 55. Braah One */
@font-face {
  font-family: "Braah One";
  src: url("./Braah_One/BraahOne-Regular.ttf");
  font-weight: 400;
}

/* 56. Bebas Neue */
@font-face {
  font-family: "Bebas Neue";
  src: url("./Bebas_Neue/BebasNeue-Regular.ttf");
  font-weight: 400;
}

/* 57. Alkatra */
@font-face {
  font-family: "Alkatra";
  src: url("./Alkatra/Alkatra-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Alkatra";
  src: url("./Alkatra/Alkatra-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Alkatra";
  src: url("./Alkatra/Alkatra-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Alkatra";
  src: url("./Alkatra/Alkatra-Bold.ttf");
  font-weight: 700;
}

/* 58. Reem Kufi Fun */
@font-face {
  font-family: "Reem Kufi Fun";
  src: url("./Reem_Kufi_Fun/ReemKufiFun-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Reem Kufi Fun";
  src: url("./Reem_Kufi_Fun/ReemKufiFun-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Reem Kufi Fun";
  src: url("./Reem_Kufi_Fun/ReemKufiFun-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Reem Kufi Fun";
  src: url("./Reem_Kufi_Fun/ReemKufiFun-Bold.ttf");
  font-weight: 700;
}

/* 59. Protest Revolution */
@font-face {
  font-family: "Protest Revolution";
  src: url("./Protest_Revolution/ProtestRevolution-Regular.ttf");
  font-weight: 400;
}

/* 60. Ramabhadra */
@font-face {
  font-family: "Ramabhadra";
  src: url("./Ramabhadra/Ramabhadra-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 61. Staatliches */
@font-face {
  font-family: "Staatliches";
  src: url("./Staatliches/Staatliches-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 62. Reggae One */
@font-face {
  font-family: "Reggae One";
  src: url("./Reggae_One/ReggaeOne-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 63. Rum Raisin */
@font-face {
  font-family: "Rum Raisin";
  src: url("./Rum_Raisin/RumRaisin-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 64. Mulish */
@font-face {
  font-family: "Mulish";
  src: url("./Mulish/Mulish-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("./Mulish/Mulish-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("./Mulish/Mulish-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("./Mulish/Mulish-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("./Mulish/Mulish-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 65. Noto Serif KR */
@font-face {
  font-family: "Noto Serif KR";
  src: url("./Noto_Serif_KR/NotoSerifKR-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Noto Serif KR";
  src: url("./Noto_Serif_KR/NotoSerifKR-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noto Serif KR";
  src: url("./Noto_Serif_KR/NotoSerifKR-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noto Serif KR";
  src: url("./Noto_Serif_KR/NotoSerifKR-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Noto Serif KR";
  src: url("./Noto_Serif_KR/NotoSerifKR-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 66. Montserrat Alternates */
@font-face {
  font-family: "Montserrat Alternates";
  src: url("./Montserrat_Alternates/MontserratAlternates-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("./Montserrat_Alternates/MontserratAlternates-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("./Montserrat_Alternates/MontserratAlternates-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("./Montserrat_Alternates/MontserratAlternates-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("./Montserrat_Alternates/MontserratAlternates-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 67. Metal Mania */
@font-face {
  font-family: "Metal Mania";
  src: url("./Metal_Mania/MetalMania-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 68. Bagel Fat One */
@font-face {
  font-family: "Bagel Fat One";
  src: url("./Bagel_Fat_One/BagelFatOne-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 69. Cantora One */
@font-face {
  font-family: "Cantora One";
  src: url("./Cantora_One/CantoraOne-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 70. Black Han Sans */
@font-face {
  font-family: "Black Han Sans";
  src: url("./Black_Han_Sans/BlackHanSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 71. Arima */
@font-face {
  font-family: "Arima";
  src: url("./Arima/Arima-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Arima";
  src: url("./Arima/Arima-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Arima";
  src: url("./Arima/Arima-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Arima";
  src: url("./Arima/Arima-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Arima";
  src: url("./Arima/Arima-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 72. Hermeneus One */
@font-face {
  font-family: "Hermeneus One";
  src: url("./Hermeneus_One/HermeneusOne-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 73. Hind */
@font-face {
  font-family: "Hind";
  src: url("./Hind/Hind-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Hind";
  src: url("./Hind/Hind-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Hind";
  src: url("./Hind/Hind-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Hind";
  src: url("./Hind/Hind-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Hind";
  src: url("./Hind/Hind-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 74. Jaini */
@font-face {
  font-family: "Jaini";
  src: url("./Jaini/Jaini-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 75. Anton */
@font-face {
  font-family: "Anton";
  src: url("./Anton/Anton-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 76. Merienda One */
@font-face {
  font-family: "Merienda One";
  src: url("./Merienda_One/MeriendaOne-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 77. Josefin Slab */
@font-face {
  font-family: "Josefin Slab";
  src: url("./Josefin_Slab/JosefinSlab-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Slab";
  src: url("./Josefin_Slab/JosefinSlab-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Slab";
  src: url("./Josefin_Slab/JosefinSlab-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Slab";
  src: url("./Josefin_Slab/JosefinSlab-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Slab";
  src: url("./Josefin_Slab/JosefinSlab-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 78. Kavoon */
@font-face {
  font-family: "Kavoon";
  src: url("./Kavoon/Kavoon-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 79. Helvetica Inserat */
@font-face {
  font-family: "Helvetica Inserat";
  src: url("./helvetica_inserat/HelveticaInseratLTStd-Roman.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 80. Helvetica Rounded */
@font-face {
  font-family: "Helvetica Rounded";
  src: url("./helvetica_rounded/HelveticaRoundedLTStd-Bd.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Rounded";
  src: url("./helvetica_rounded/HelveticaRoundedLTStd-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

/* 81. Potta One */
@font-face {
  font-family: "Potta One";
  src: url("./Potta_One/PottaOne-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 82. Rowdies */
@font-face {
  font-family: "Rowdies";
  src: url("./Rowdies/Rowdies-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Rowdies";
  src: url("./Rowdies/Rowdies-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Rowdies";
  src: url("./Rowdies/Rowdies-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 83. Karantina */
@font-face {
  font-family: "Karantina";
  src: url("./Karantina/Karantina-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Karantina";
  src: url("./Karantina/Karantina-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Karantina";
  src: url("./Karantina/Karantina-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 84. Kaushan Script */
@font-face {
  font-family: "Kaushan Script";
  src: url("./Kaushan_Script/KaushanScript-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 85. Sahitya */
@font-face {
  font-family: "Sahitya";
  src: url("./Sahitya/Sahitya-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Sahitya";
  src: url("./Sahitya/Sahitya-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* 86. Kdam Thmor Pro */
@font-face {
  font-family: "Kdam Thmor Pro";
  src: url("./Kdam_Thmor_Pro/KdamThmorPro-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 87. Neue Power */
@font-face {
  font-family: "Neue Power";
  src: url("./Neue_Power/NeuePower-Ultra.ttf");
  font-weight: 900;
  font-style: normal;
}

/* 88. Koh Santepheap */
@font-face {
  font-family: "Koh Santepheap";
  src: url("./Koh_Santepheap/KohSantepheap-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Koh Santepheap";
  src: url("./Koh_Santepheap/KohSantepheap-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Koh Santepheap";
  src: url("./Koh_Santepheap/KohSantepheap-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Koh Santepheap";
  src: url("./Koh_Santepheap/KohSantepheap-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Koh Santepheap";
  src: url("./Koh_Santepheap/KohSantepheap-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

/* 89. Koulen */
@font-face {
  font-family: "Koulen";
  src: url("./Koulen/Koulen-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 90. Protest Riot */
@font-face {
  font-family: "Protest Riot";
  src: url("./Protest_Riot/ProtestRiot-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 91. Rakkas */
@font-face {
  font-family: "Rakkas";
  src: url("./Rakkas/Rakkas-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 92. PT Serif Caption */
@font-face {
  font-family: "PT Serif Caption";
  src: url("./PT_Serif_Caption/PTSerifCaption-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* 93. Bigshot One */
@font-face {
  font-family: "Bigshot One";
  src: url("./Bigshot_One/BigshotOne-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
/* 94. Asap */
@font-face {
  font-family: "Asap";
  src: url("./Asap/Asap-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Asap Condensed";
  /* src: url("./Asap_Condensed/AsapCondensed-Regular.ttf"); */
  src: url("./Asap_Condensed/AsapCondensed-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Asap Condensed";
  src: url("./Asap_Condensed/AsapCondensed-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Asap Condensed";
  src: url("./Asap_Condensed/AsapCondensed-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Asap Condensed";
  src: url("./Asap_Condensed/AsapCondensed-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
